dash-canvas~=0.1.0
singleton_decorator~=1.0.0
language-tool-python
pyspellchecker
numpy
Flask
Jinja2~=3.1.2
dash-extensions
dash-mantine-components
dash
python-dateutil
python-magic~=0.4.27
git+https://github.com/julian-r/python-magic
googletrans~=4.0.0rc1
Levenshtein
dash-daq
kaitaistruct~=0.10
crcmod~=1.7
seaborn
NOREC4DNA